@import "tailwindcss";

@font-face {
    font-family: 'BalatroFont';
    src: url('/fonts/m6x11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

@theme {
  --font-sans: 'BalatroFont', 'sans-serif';
}